@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 10px;
  font-family: "Noto Sans", sans-serif;
}

h2 {
  text-align: center;
  font-size: 2rem;
  border: #e3d3ff solid 3px;
  margin: 0;
  padding: 10px;
  font-family: "Noto Sans", sans-serif;
}

.menu {
  font-size: 40px;
  color: blueviolet;
  text-decoration: none;
  display: block;
}

.backgroundPurpHeader {
  background-color: #e3d3ff;
  padding: 3px;
  margin: 0;
  border: #ab9dec solid 3px;
  font-family: "Noto Sans", sans-serif;
  position: sticky;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  background: #e3d3ff;
  background: linear-gradient(90deg, #e3d3ff 48%, #ffc0c0 100%);
}

.menu {
  display: none;
}

.jam {
  display: none;
}

.box {
  display: flex;
  min-height: 150px;
  justify-content: space-between;
  align-content: center;
  flex-flow: row wrap;
}

.box__son {
  height: max-content;
  width: max-content;
  text-align: center;
  line-height: 70px;
  padding: 5px;
  margin: 15px;
  list-style: none;
}

.box__son--h1 {
  height: max-content;
  width: max-content;
  text-align: center;
  line-height: 70px;
  padding: 5px;
  margin: 15px;
  list-style: none;
  color: black;
  -webkit-text-stroke: 2px black;
  color: white;
  font-size: 3rem;
}

.box__link {
  text-decoration: none;
  padding: 5px;
  color: white;
  -webkit-text-stroke: 1px black;
  display: inline-block;
}

.box__link:hover {
  color: pink;
}

ul {
  list-style: none;
  font-size: 0;
  margin-left: 0;
  padding-left: 0;
}

li {
  display: inline-block;
  width: 25%;
  position: relative;
  font-size: 2rem;
}

ul ul {
  position: absolute;
  display: none;
}

ul ul li {
  display: block;
}

ul li:hover ul {
  display: block;
  background-color: white;
  border: #e3d3ff solid 3px;
  padding: 5px;
  margin: 0;
  border-style: dotted;
  transform: scale(2px);
}

.backgroundPurpFooter {
  background-color: #e3d3ff;
  padding: 3px;
  margin: 0;
  border: whitesmoke solid 3px;
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  top: 0;
  left: 0;
}

.boxes {
  padding: 5px;
  display: inline-block;
  margin: 10px;
  width: 200px;
  height: 40px;
  border: solid 1px;
  border-radius: 20px;
}

.button {
  width: 100px;
  height: 40px;
  padding: 3px;
  margin: 10px;
  border: solid 1px;
  border-radius: 50px;
}

.preguntas__footer {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
  background-color: #e3d3ff;
  padding: 10px;
  margin: 10px;
  border: #e3d3ff solid 3px;
  display: block;
  width: max-content;
  height: max-content;
  border-radius: 50px;
}

.whatsapp {
  position: fixed;
  display: inline-block;
  bottom: 0;
  right: 0;
  background-color: #e3d3ff;
  color: antiquewhite;
  width: max-content;
  height: max-content;
}

.icono__whatsapp {
  color: green;
  margin: 5px;
  padding: 3px;
  display: inline;
}

.icono__insta {
  color: palevioletred;
  margin: 5px;
  padding: 3px;
  display: inline;
}

.fotos {
  width: 400px;
  height: 400px;
  border: #e3d3ff solid 3px;
  margin: 2px;
  padding: 2px;
  border-radius: 10%;
  object-fit: cover;
  display: inline-block;
  animation-name: fotitos;
  animation-duration: 2s;
}

.fotos:hover {
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 1s;
}

.fotos__pink {
  width: 400px;
  height: 400px;
  border: pink solid 3px;
  margin: 2px;
  padding: 2px;
  border-radius: 10%;
  object-fit: cover;
  display: inline-block;
  animation-name: fotitos;
  animation-duration: 1s;
}

.fotos__pink:hover {
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 1s;
}

.fotos__carrusel {
  width: 400px;
  height: 750px;
  border: #e3d3ff solid 3px;
  margin: 2px;
  padding: 2px;
  object-fit: cover;
  display: inline-block;
}

.fondo__reseñas {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 500px;
  height: max-content;
}

@keyframes fotitos {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.clase__producto {
  background-color: pink;
  margin-bottom: 10px;
  padding: 2rem;
  font-size: 2.5rem;
  -webkit-text-stroke: 1.5px black;
  color: white;
  width: 100%;
}

.producto {
  display: inline-block;
  margin: 3rem;
  border: #e3d3ff solid 1px;
  padding: 25px;
}

.producto__titulo {
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 5px;
  background-color: #e3d3ff;
  -webkit-text-stroke: 1px black;
  color: whitesmoke;
}

.producto__nombre {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.7rem;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: max-content;
  height: max-content;
  align-items: center;
}

.producto__precio {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: max-content;
  height: max-content;
  border: #e3d3ff 3px solid;
  border-radius: 5px;
  border-style: dotted;
  position: relative;
}

.grid {
  border: #e3d3ff solid 2px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "ele1 ele1 ele2"  "ele3 ele4 ele4";
}

.grid__productos {
  border: #e3d3ff solid 2px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  grid-template-areas: "ele1 ele2 ele3"  "ele4 ele5 ele6" "ele7 ele8 ele9"  "ele10 ele11 ele12" "ele13 ele14 ele15"  "ele16 ele17 ele18";
}

.grid__hijo {
  margin: 1rem;
  border: #e3d3ff solid 1px;
  padding: 25px;
  align-content: center;
  text-align: center;
  border-radius: 50px;
}

.grid__hijo--1, .grid__hijo--4, .grid__hijo--5, .grid__hijo--8, .grid__hijo--9, .grid__hijo--12, .grid__hijo--13, .grid__hijo--16, .grid__hijo--17 {
  background-color: pink;
  grid-area: ele1;
  border: #e3d3ff solid 2px;
  position: relative;
}

.grid__hijo--2 {
  background-color: #e3d3ff;
  grid-area: ele2;
  border: pink solid 2px;
}

.grid__hijo--3 {
  background-color: #e3d3ff;
  grid-area: ele3;
  border: pink solid 2px;
}

.grid__hijo--4 {
  grid-area: ele4;
}

.grid__hijo--5 {
  grid-area: ele5;
}

.grid__hijo--6 {
  background-color: #e3d3ff;
  grid-area: ele6;
  border: pink solid 2px;
}

.grid__hijo--7 {
  background-color: #e3d3ff;
  grid-area: ele7;
  border: pink solid 2px;
}

.grid__hijo--8 {
  grid-area: ele8;
}

.grid__hijo--9 {
  grid-area: ele9;
}

.grid__hijo--10 {
  background-color: #e3d3ff;
  grid-area: ele10;
  border: pink solid 2px;
}

.grid__hijo--11 {
  background-color: #e3d3ff;
  grid-area: ele11;
  border: pink solid 2px;
}

.grid__hijo--12 {
  grid-area: ele12;
}

.grid__hijo--13 {
  grid-area: ele13;
}

.grid__hijo--14 {
  background-color: #e3d3ff;
  grid-area: ele14;
  border: pink solid 2px;
}

.grid__hijo--15 {
  background-color: #e3d3ff;
  grid-area: ele15;
  border: pink solid 2px;
}

.grid__hijo--16 {
  grid-area: ele16;
}

.grid__hijo--17 {
  grid-area: ele17;
}

.grid__hijo--18 {
  background-color: #e3d3ff;
  grid-area: ele18;
  border: pink solid 2px;
}

.grid__nuevo {
  position: absolute;
  top: 0;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.5rem 1rem;
  transform: translate(-50%);
}

.carrusel {
  height: 800px;
  width: 800px;
  text-align: center;
  align-items: center;
}

.preguntas {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
  background-color: #e3d3ff;
  padding: 10px;
  margin: 10px;
  border: #e3d3ff solid 3px;
  display: block;
  width: max-content;
  height: max-content;
  border-radius: 50px;
}

.preguntas__2r {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
  background-color: #e3d3ff;
  padding: 10px;
  margin: 10px;
  border: #e3d3ff solid 3px;
  display: block;
  width: max-content;
  height: max-content;
  border-radius: 50px;
}

.respuestas {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  padding: 10px;
  margin: 10px;
  border: pink solid 1px;
  width: max-content;
  height: max-content;
  border-radius: 50px;
}

.mapita {
  border: solid 2px pink;
  background-color: pink;
  padding: 10px;
  height: max-content;
  width: max-content;
  text-align: center;
  display: block;
}

.iframe {
  width: 450px;
  height: 450px;
}

.mapita__p {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
  background-color: pink;
  padding: 10px;
  border: #e3d3ff solid 3px;
  display: block;
  width: max-content;
  height: max-content;
  color: white;
  -webkit-text-stroke: 1px black;
}

.boxes__consulta {
  padding: 5px;
  display: block;
  width: 200px;
  height: 150px;
  margin: 10px;
  border: solid 1px;
  border-radius: 20px;
}

@media screen and (max-width: 1023px) {
  .fotos {
    width: 300px;
    height: 300px;
    border-radius: 10%;
  }
  .fotos__pink {
    width: 300px;
    height: 300px;
    border-radius: 10%;
  }
  .box__son {
    line-height: 20px;
    padding: 5px;
    margin: 5px;
    color: blueviolet;
    font-size: 35px;
  }
  .box__son--h1 {
    font-size: 2.6rem;
  }
  .box__link {
    color: white;
    font-size: 25px;
    display: flex;
  }
  .boxes {
    width: 200px;
    height: 35px;
    border-radius: 25px;
  }
  .button {
    height: 35px;
    border-radius: 25px;
  }
  .preguntas {
    font-size: 20px;
    display: flex;
    width: max-content;
    border-radius: 25px;
  }
  .preguntas__footer {
    font-size: 20px;
    width: 400px;
    border-radius: 25px;
  }
  .preguntas__2r {
    font-size: 20px;
    display: inline-block;
    width: max-content;
    border-radius: 25px;
    height: max-content;
  }
  .respuestas {
    width: 300px;
    height: max-content;
    border-radius: 25px;
  }
  .nav {
    display: none;
  }
  #lateral {
    display: block;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    transition: left 1s;
  }
  #lateral:target {
    left: 0;
  }
  .nav__lista {
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .grid__hijo {
    width: 400px;
    height: 450px;
    padding: 2px;
    border-radius: 5%;
  }
  .producto__nombre {
    font-size: 20px;
    padding: 2px;
  }
  .producto__precio {
    font-size: 20px;
    padding: 2px;
  }
  .grid__productos {
    padding: 2px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1%;
    grid-template-areas: "ele1 ele2"  "ele3 ele4" "ele5 ele6"  "ele7 ele8" "ele9 ele10"  "ele11 ele12" "ele13 ele14" "ele15 ele16" "ele17 ele18";
  }
  .grid {
    padding: 2px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "ele1 ele2"  "ele3 ele4";
  }
  .grid__nuevo {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.5rem 1rem;
    transform: translate(-50%);
    width: 75px;
    height: max-content;
    font-size: 10px;
  }
  .menu {
    display: flex;
  }
  .jam {
    display: flex;
  }
  .icono__whatsapp {
    color: green;
    margin: 5px;
    padding: 3px;
  }
  .icono__insta {
    color: palevioletred;
    margin: 5px;
    padding: 3px;
  }
  .carrusel {
    width: 400px;
    height: 750px;
  }
  .fondo__reseñas {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
  }
  .iframe {
    width: 250px;
    height: 250px;
  }
  .mapita__p {
    font-size: 20px;
    width: 400px;
    color: black;
  }
  ul {
    display: block;
  }
  li {
    display: block;
    width: 25%;
    position: relative;
    font-size: 2rem;
  }
  ul ul {
    position: relative;
    display: block;
  }
  ul ul li {
    display: block;
    position: relative;
  }
  ul li ul {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    border: #e3d3ff solid 3px;
    padding: 5px;
    margin: 0;
    border-style: dotted;
    transform: scale(2px);
    position: relative;
  }
  .fondo__reseñas {
    width: 300px;
    height: 150px;
  }
  .carrito {
    border-radius: 5px;
    font-size: 10px;
    padding: 2px;
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  .fotos {
    width: 120px;
    height: 120px;
    border-radius: 10%;
  }
  .fotos__pink {
    width: 120px;
    height: 120px;
    border-radius: 10%;
  }
  .box__son {
    line-height: 20px;
    padding: 5px;
    margin: 5px;
    color: blueviolet;
    font-size: 35px;
  }
  .box__son--h1 {
    font-size: 2.6rem;
  }
  .box__link {
    color: white;
    font-size: 25px;
    display: flex;
  }
  .boxes {
    width: 200px;
    height: 35px;
    border-radius: 25px;
  }
  .button {
    height: 35px;
    border-radius: 25px;
  }
  .preguntas {
    font-size: 20px;
    display: inline-block;
    width: 300px;
    border-radius: 25px;
  }
  .preguntas__footer {
    font-size: 20px;
    width: 300px;
    border-radius: 25px;
  }
  .preguntas__2r {
    font-size: 20px;
    display: inline-block;
    width: 300px;
    border-radius: 25px;
    height: max-content;
  }
  .respuestas {
    width: 300px;
    height: max-content;
    border-radius: 25px;
  }
  .nav {
    display: none;
  }
  #lateral {
    display: block;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    transition: left 1s;
  }
  #lateral:target {
    left: 0;
  }
  .nav__lista {
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .grid__hijo {
    width: 140px;
    height: 240px;
    padding: 2px;
    border-radius: 5%;
  }
  .producto__nombre {
    font-size: 10px;
    padding: 2px;
  }
  .producto__precio {
    font-size: 10px;
    padding: 2px;
  }
  .grid__productos {
    padding: 2px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1%;
    grid-template-areas: "ele1 ele2"  "ele3 ele4" "ele5 ele6"  "ele7 ele8" "ele9 ele10"  "ele11 ele12" "ele13 ele14" "ele15 ele16" "ele17 ele18";
  }
  .grid {
    padding: 2px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "ele1 ele2"  "ele3 ele4";
  }
  .grid__nuevo {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.5rem 1rem;
    transform: translate(-50%);
    width: 75px;
    height: max-content;
    font-size: 10px;
  }
  .menu {
    display: flex;
  }
  .jam {
    display: flex;
  }
  .icono__whatsapp {
    color: green;
    margin: 5px;
    padding: 3px;
  }
  .icono__insta {
    color: palevioletred;
    margin: 5px;
    padding: 3px;
  }
  .carrusel {
    width: 400px;
    height: 750px;
  }
  .fondo__reseñas {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
  }
  .mapita {
    width: 300px;
  }
  .iframe {
    width: 250px;
    height: 250px;
  }
  .mapita__p {
    font-size: 20px;
    width: 250px;
    color: black;
  }
  ul {
    display: block;
  }
  li {
    display: block;
    width: 25%;
    position: relative;
    font-size: 2rem;
  }
  ul ul {
    position: relative;
    display: block;
  }
  ul ul li {
    display: block;
    position: relative;
  }
  ul li ul {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    border: #e3d3ff solid 3px;
    padding: 5px;
    margin: 0;
    border-style: dotted;
    transform: scale(2px);
    position: relative;
  }
  .fondo__reseñas {
    width: 300px;
    height: 150px;
  }
  .carrito {
    border-radius: 5px;
    font-size: 10px;
    padding: 2px;
    position: relative;
  }
}
/*# sourceMappingURL=styles.css.map */