@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-size: 2rem;
  border: #FFFFFF solid 3px;
  margin: 0;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.menu {
  font-size: 50px;
  color: #009a87;
  text-decoration: none;
  display: inline-block;
  padding: 30px 0 30px 30px;
}

.header {
  background-color: #009a87;
  padding: 2px;
  margin: 0;
  border: #FFFFFF solid 3px;
  font-family: "Montserrat", sans-serif;
  position: sticky;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
}

.nav {
  justify-content: center;
}

.nav__lista {
  padding: 20px;
  display: flex;
}

.menu {
  display: none;
}

.jam {
  display: none;
}

.box {
  justify-content: space-between;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.box__son--h1 {
  padding: 35px 0 0 50px;
  color: #FFFFFF;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.box__son {
  height: max-content;
  width: max-content;
  padding: 5px;
  margin: 15px;
  list-style: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.5rem;
}

.box__link {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  font-weight: bold;
  align-items: flex-end;
}

.box__link:hover {
  color: #f68a53;
}

.box__link--hover {
  text-decoration: none;
  color: #009a87;
  display: inline-block;
  font-weight: bold;
}

.box__link--hover:hover {
  color: #f68a53;
}

ul {
  list-style: none;
  font-size: 0;
  margin-left: 0;
  padding-left: 0;
}

li {
  display: inline-block;
  width: 25%;
  position: relative;
  font-size: 1.5rem;
}

ul ul {
  position: absolute;
  display: none;
}

ul ul li {
  display: block;
}

ul li:hover ul {
  display: block;
  background-color: #FFFFFF;
  border: #009a87 solid 3px;
  padding: 10px;
  margin: 10px;
  border-style: inset;
  transform: scale(2px);
  color: #009a87;
}

.logo {
  width: 50px;
  height: 50px;
}

.footer {
  background-color: #009a87;
  padding: 3px;
  margin: 0;
  border: #FFFFFF solid 3px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  height: 200px;
}

.box__link--footer:hover {
  color: #f68a53;
}

.div__footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.box__link--footer {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  padding: 30px 30px 0 0;
  align-items: flex-end;
}

.preguntas__footer {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #009a87;
  padding: 10px;
  margin: 10px;
  border: #FFFFFF solid 3px;
  display: flex;
  width: max-content;
  height: max-content;
  border-radius: 50px;
  color: #FFFFFF;
  padding-top: 15px;
}

.icono__whatsapp {
  color: #FFFFFF;
  margin: 5px;
  padding: 3px;
  display: flex;
}

.icono__insta {
  color: #FFFFFF;
  margin: 5px;
  padding: 3px;
  display: flex;
}

.fotos {
  width: 250px;
  height: 250px;
  border: #009a87 solid 3px;
  margin: 2px;
  padding: 2px;
  border-radius: 10%;
  object-fit: cover;
  display: inline-block;
}

.fotos:hover {
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 1s;
}

.fotos__pink {
  width: 250px;
  height: 250px;
  border: #009a87 solid 3px;
  margin: 2px;
  padding: 2px;
  border-radius: 10%;
  object-fit: cover;
  display: inline-block;
}

.fotos__pink:hover {
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 1s;
}

.fotos__carrusel {
  width: 400px;
  height: 750px;
  border: #FFFFFF solid 3px;
  margin: 2px;
  padding: 2px;
  object-fit: cover;
  display: inline-block;
}

.fondo__reseñas {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 500px;
  height: max-content;
}

.clase__producto {
  background-color: #FFFFFF;
  margin-bottom: 10px;
  padding: 1.5rem;
  font-size: 2rem;
  width: 100%;
  border: #009a87 2px solid;
  font-weight: bold;
  color: #009a87;
}

.producto {
  display: inline-block;
  margin: 3rem;
  border: #FFFFFF solid 1px;
  padding: 25px;
}

.producto__titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
  background-color: #009a87;
  font-weight: bold;
}

.producto__nombre {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: max-content;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: #009a87;
}

.producto__precio {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  margin: 10px;
  text-align: center;
  width: max-content;
  height: max-content;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: #009a87;
}

.grid {
  border: #FFFFFF solid 2px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 50% 50%;
  grid-template-areas: "ele1 ele1 ele2"  "ele3 ele4 ele4";
  justify-content: center;
}

.grid__productos {
  border: #FFFFFF solid 2px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  grid-template-areas: "ele1 ele2 ele3"  "ele4 ele5 ele6" "ele7 ele8 ele9"  "ele10 ele11 ele12" "ele13 ele14 ele15"  "ele16 ele17 ele18";
  justify-content: center;
}

.grid__hijo {
  margin: 1rem;
  border: #FFFFFF solid 1px;
  padding: 25px;
  align-content: center;
  text-align: center;
  border-radius: 50px;
}

.grid__hijo--1, .grid__hijo--4, .grid__hijo--5, .grid__hijo--8, .grid__hijo--9, .grid__hijo--12, .grid__hijo--13, .grid__hijo--16, .grid__hijo--17 {
  background-color: #FFFFFF;
  grid-area: ele1;
  border: #009a87 solid 2px;
  position: relative;
}

.grid__hijo--2 {
  background-color: #FFFFFF;
  grid-area: ele2;
  border: #009a87 solid 2px;
}

.grid__hijo--3 {
  background-color: #FFFFFF;
  grid-area: ele3;
  border: #009a87 solid 2px;
}

.grid__hijo--4 {
  grid-area: ele4;
}

.grid__hijo--5 {
  grid-area: ele5;
}

.grid__hijo--6 {
  background-color: #FFFFFF;
  grid-area: ele6;
  border: #009a87 solid 2px;
}

.grid__hijo--7 {
  background-color: #FFFFFF;
  grid-area: ele7;
  border: #009a87 solid 2px;
}

.grid__hijo--8 {
  grid-area: ele8;
}

.grid__hijo--9 {
  grid-area: ele9;
}

.grid__hijo--10 {
  background-color: #FFFFFF;
  grid-area: ele10;
  border: #009a87 solid 2px;
}

.grid__hijo--11 {
  background-color: #FFFFFF;
  grid-area: ele11;
  border: #009a87 solid 2px;
}

.grid__hijo--12 {
  grid-area: ele12;
}

.grid__hijo--13 {
  grid-area: ele13;
}

.grid__hijo--14 {
  background-color: #FFFFFF;
  grid-area: ele14;
  border: #009a87 solid 2px;
}

.grid__hijo--15 {
  background-color: #FFFFFF;
  grid-area: ele15;
  border: #009a87 solid 2px;
}

.grid__hijo--16 {
  grid-area: ele16;
}

.grid__hijo--17 {
  grid-area: ele17;
}

.grid__hijo--18 {
  background-color: #FFFFFF;
  grid-area: ele18;
  border: #009a87 solid 2px;
}

.grid__nuevo {
  position: absolute;
  top: 0;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.5rem 1rem;
  transform: translate(-50%);
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}

.carrusel {
  height: 800px;
  width: 800px;
  text-align: center;
  align-items: center;
}

.preguntas {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #FFFFFF;
  padding: 10px;
  margin: 10px;
  border: #f68a53 solid 3px;
  display: block;
  width: max-content;
  height: max-content;
  border-radius: 50px;
}

.preguntas__2r {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  background-color: #FFFFFF;
  padding: 10px;
  margin: 10px;
  border: #f68a53 solid 3px;
  display: block;
  width: max-content;
  height: max-content;
  border-radius: 50px;
  font-weight: bold;
}

.respuestas {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 10px;
  margin: 10px;
  border: #009a87 solid 1px;
  width: max-content;
  height: max-content;
  border-radius: 50px;
  font-weight: bold;
}

.mapita {
  border: solid 2px #009a87;
  background-color: #FFFFFF;
  padding: 10px;
  height: max-content;
  width: max-content;
  text-align: center;
  display: inline-block;
  right: 0;
}

.iframe {
  width: 450px;
  height: 450px;
}

.mapita__p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  background-color: #009a87;
  padding: 10px;
  border: #FFFFFF solid 3px;
  display: block;
  width: max-content;
  height: max-content;
  color: #FFFFFF;
  font-weight: bold;
}

.boxes__consulta {
  padding: 5px;
  display: block;
  width: 200px;
  height: 150px;
  margin: 10px;
  border: #009a87 solid 1px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.boxes {
  padding: 15px;
  display: inline-block;
  margin: 10px;
  width: 200px;
  height: 40px;
  border: #009a87 solid 2px;
  color: #FFFFFF;
  border-radius: 20px;
  font-weight: bold;
  background-color: #FFFFFF;
}

.button {
  width: 100px;
  height: 40px;
  padding: 3px;
  margin: 10px;
  display: inline-block;
  border: #009a87 solid 2px;
  color: #009a87;
  border-radius: 50px;
  font-weight: bold;
  background-color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
  /*Header*/
  .header {
    display: inline-block;
    width: 100%;
  }
  .box {
    display: flex;
    flex-direction: row;
  }
  .box__son {
    display: block;
    line-height: 20px;
    padding: 10px;
    font-size: 35px;
    background-color: #009a87;
    border-radius: 5px;
    border: #FFFFFF 1px solid;
    margin-left: 0;
    width: max-content;
    height: max-content;
  }
  .box__son--h1 {
    margin: 20px 0 10px 0;
    padding: 30px;
    font-size: 3rem;
  }
  .box__link {
    color: #FFFFFF;
    font-size: 25px;
    display: flex;
    padding: 10px;
  }
  .menu {
    display: block;
    color: #FFFFFF;
    margin: 25px;
  }
  .menu:hover {
    color: #f68a53;
  }
  .jam {
    display: flex;
  }
  .nav {
    display: none;
  }
  #lateral {
    display: block;
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    transition: left 1s;
    border: solid 2px #009a87;
  }
  #lateral:target {
    left: 0;
  }
  ul {
    display: block;
  }
  li {
    display: block;
    width: 25%;
    position: relative;
    font-size: 1.5rem;
    padding: 10px;
  }
  ul ul {
    position: relative;
    display: block;
  }
  ul ul li {
    display: block;
    position: relative;
  }
  ul li ul {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    border: #FFFFFF solid 3px;
    padding: 5px;
    margin: 0;
    border-style: dotted;
    transform: scale(2px);
    position: relative;
  }
  .nav__lista {
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  /*Productos*/
  .fotos {
    width: 250px;
    height: 250px;
    border-radius: 10%;
  }
  .fotos__pink {
    width: 250px;
    height: 250px;
    border-radius: 10%;
  }
  .grid__hijo {
    width: 300px;
    height: 400px;
    padding: 2px;
    border-radius: 5%;
  }
  .producto__nombre {
    font-size: 20px;
    padding: 2px;
  }
  .producto__precio {
    font-size: 20px;
    padding: 2px;
  }
  .carrito {
    border-radius: 5px;
    font-size: 10px;
    padding: 2px;
    position: relative;
  }
  .grid__productos {
    padding: 2px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1%;
    grid-template-areas: "ele1 ele2"  "ele3 ele4" "ele5 ele6"  "ele7 ele8" "ele9 ele10"  "ele11 ele12" "ele13 ele14" "ele15 ele16" "ele17 ele18";
    justify-content: center;
  }
  .grid {
    padding: 2px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "ele1 ele2"  "ele3 ele4";
    justify-content: center;
  }
  .grid__nuevo {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.5rem 1rem;
    transform: translate(-50%);
    width: 75px;
    height: max-content;
    font-size: 10px;
  }
  /*Pregunta frecuentas*/
  .preguntas {
    font-size: 20px;
    display: flex;
    width: max-content;
    border-radius: 25px;
  }
  .preguntas__2r {
    font-size: 20px;
    display: inline-block;
    width: max-content;
    border-radius: 25px;
    height: max-content;
  }
  .respuestas {
    width: 300px;
    height: max-content;
    border-radius: 25px;
  }
  .mapita {
    border: solid 2px #009a87;
    background-color: #FFFFFF;
    padding: 10px;
    height: 475px;
    width: 450px;
    text-align: center;
    display: inline-block;
  }
  .iframe {
    width: 350px;
    height: 350px;
  }
  .mapita__p {
    font-size: 20px;
    width: 400px;
    color: #FFFFFF;
    height: max-content;
  }
  /*Footer*/
  .boxes {
    width: 200px;
    height: 35px;
    border-radius: 25px;
  }
  .button {
    height: 35px;
    border-radius: 25px;
  }
  .preguntas__footer {
    font-size: 20px;
    width: 400px;
    border-radius: 25px;
  }
  .icono__whatsapp {
    color: #FFFFFF;
    margin: 5px;
    padding: 3px;
  }
  .icono__insta {
    color: #FFFFFF;
    margin: 5px;
    padding: 3px;
  }
  .carrusel {
    width: 600px;
    height: 750px;
  }
  .fondo__reseñas {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    height: 150px;
  }
}

@media screen and (max-width: 600px) {
  /* Header */
  .header {
    display: inline-block;
    width: 100%;
  }
  .box {
    display: flex;
    flex-direction: row;
  }
  .box__son {
    display: block;
    line-height: 20px;
    padding: 10px;
    font-size: 35px;
    background-color: #009a87;
    border-radius: 5px;
    border: #FFFFFF 1px solid;
    margin-left: 0;
    width: max-content;
    height: max-content;
  }
  .box__son--h1 {
    margin: 28px 0 10px 0;
    padding: 10px;
    font-size: 30px;
  }
  .box__link {
    color: #FFFFFF;
    font-size: 20px;
    display: flex;
  }
  .menu {
    display: block;
    color: #FFFFFF;
    margin: 10px;
  }
  .menu:hover {
    color: #f68a53;
  }
  .nav {
    display: none;
  }
  #lateral {
    display: block;
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    transition: left 1s;
    border: solid 2px #009a87;
  }
  #lateral:target {
    left: 0;
  }
  ul {
    display: block;
  }
  li {
    display: block;
    width: 10%;
    position: relative;
    font-size: 20px;
    padding: 10px;
  }
  ul ul {
    position: relative;
    display: block;
  }
  ul ul li {
    display: block;
    position: relative;
  }
  ul li ul {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    border: #FFFFFF solid 3px;
    padding: 5px;
    margin: 5px;
    border-style: inherit;
    position: relative;
  }
  .nav__lista {
    flex-direction: column;
    display: flex;
    margin: 10px;
    gap: 1rem;
    padding: 10px;
    font-size: 10px;
  }
  /*Productos*/
  .fotos {
    width: 120px;
    height: 120px;
    border-radius: 10%;
  }
  .fotos__pink {
    width: 120px;
    height: 120px;
    border-radius: 10%;
  }
  .grid__hijo {
    width: 160px;
    height: 275px;
    padding: 2px;
    border-radius: 5%;
  }
  .producto__nombre {
    font-size: 15px;
    padding: 2px;
    font-weight: bold;
    width: max-content;
  }
  .producto__precio {
    font-size: 15px;
    padding: 2px;
    font-weight: bold;
  }
  .grid__productos {
    padding: 2px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1%;
    grid-template-areas: "ele1 ele2"  "ele3 ele4" "ele5 ele6"  "ele7 ele8" "ele9 ele10"  "ele11 ele12" "ele13 ele14" "ele15 ele16" "ele17 ele18";
  }
  .grid {
    padding: 2px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "ele1 ele2"  "ele3 ele4";
  }
  .grid__nuevo {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.5rem 1rem;
    transform: translate(-50%);
    width: 75px;
    height: max-content;
    font-size: 10px;
  }
  .clase__producto {
    font-size: 1.7rem;
  }
  .producto__titulo {
    font-size: 1.5rem;
  }
  .fondo__reseñas {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: max-content;
  }
  /*Preguntas Frecuentes*/
  .preguntas {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 10px;
    border: #f68a53 solid 3px;
    display: block;
    width: max-content;
    height: max-content;
    border-radius: 50px;
  }
  .preguntas__2r {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 10px;
    border: #f68a53 solid 3px;
    display: block;
    width: 340px;
    height: max-content;
    border-radius: 25px;
    font-weight: bold;
  }
  .mapita {
    border: solid 2px #009a87;
    background-color: #FFFFFF;
    padding: 10px;
    height: 350px;
    width: 320px;
    text-align: center;
    display: inline-block;
    right: 0;
  }
  .iframe {
    width: 250px;
    height: 250px;
  }
  .mapita__p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    background-color: #009a87;
    padding: 10px;
    border: #FFFFFF solid 3px;
    display: block;
    width: 300px;
    height: max-content;
    color: white;
  }
  /*Footer*/
  .boxes {
    width: 200px;
    height: 35px;
    border-radius: 25px;
  }
  .button {
    height: 35px;
    border-radius: 25px;
  }
  .preguntas__footer {
    font-size: 20px;
    width: 300px;
    border-radius: 25px;
  }
  .box__link--footer {
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin-left: 0%;
    display: none;
  }
  .footer {
    width: 100%;
  }
  .icono__whatsapp {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .icono__insta {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
  }
}
/*# sourceMappingURL=styles.css.map */