.backgroundPurpFooter {
    background-color: $color-secundario;
    padding: 3px;
    margin: 0;
    border: $color-principal solid 3px;
    font-family: $font-family;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
}
.box__link--footer {
text-decoration: none;
color: $color-principal;
display:flex;
font-size: 25px;
font-weight: bold;
position: relative;
margin-left: 670%;
padding-top:20px;
}
.box__link--footer:hover {
    color: #f68a53;
}


.preguntas__footer {
    font-family: $font-family;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: $color-secundario;
    padding: 10px;
    margin: 10px;
    border: $color-principal solid 3px;
    display: block;
    width: max-content;
    height: max-content;
    border-radius: 50px;
    color: $color-principal;
}

.icono__whatsapp {
    color: $color-principal;
    margin: 5px;
    padding: 3px;
    display: flex;
}
.icono__insta {
    color: $color-principal;
    margin: 5px;
    padding: 3px;
    display: flex;
}