
h2 {
    text-align: center;
    font-size: 2rem;
    border: $color-principal solid 3px ;
    margin:0;
    padding:10px ;
    font-family: $font-family;
}
.menu {
    font-size:50px ;
    color: $color-secundario; ;
    text-decoration: none;
    display: inline-block;
    padding: 30px 0 30px 30px;

}
.header {
    background-color: $color-secundario;
    padding: 2px;
    margin: 0;
    border: $color-principal solid 3px;
    font-family: $font-family;
    position: sticky;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;    
    display: flex;
}
.nav {
  justify-content:center ;
}
.nav__lista {
    padding: 20px;
    display: flex;
}

.menu{
    display: none;
}
.jam {
    display: none;
}
.box {
  justify-content: space-between;
  display: flex;
  width: 100%;
  flex-direction: column;  
}
.box__son--h1{
    padding:  35px 0 0 50px;
    color: $color-principal;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.box__son{
    height: max-content;
    width: max-content;
    padding: 5px;
    margin: 15px;
    list-style: none; 
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.5rem;
}
.box__link {
    text-decoration: none;
    color: $color-principal;
    display: flex;
    font-weight: bold;
    align-items: flex-end;
}
.box__link:hover {
    color: #f68a53;
}
.box__link--hover {
    text-decoration: none;
    color: $color-secundario;
    display: inline-block;
    font-weight: bold;
}
.box__link--hover:hover {
    color: #f68a53;
}
ul {
    list-style: none;
    font-size: 0;
    margin-left: 0;
    padding-left: 0;
}
li{
    display: inline-block;
    width: 25%;
    position: relative;
    font-size: 1.5rem;
}
ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: block;
}

ul li:hover ul {
    display: block;
    background-color: $color-principal;
    border:$color-secundario solid 3px;
    padding: 10px;
    margin: 10px;
    border-style:inset;
    transform: scale(2px);
    color: $color-secundario;
}

.logo {
    width: 50px;
    height: 50px;
}