h1 {
    text-align: center;
    font-size: 3rem;
    margin:0;
    padding:10px ;
    font-family: 'Noto Sans', sans-serif;
}
h2 {
    text-align: center;
    font-size: 2rem;
    border: $color-principal solid 3px ;
    margin:0;
    padding:10px ;
    font-family: 'Noto Sans', sans-serif;
}
.menu {
    font-size:40px ;
    color:blueviolet ;
    text-decoration: none;
    display: block;

}
.backgroundPurpHeader {
    background-color: $color-principal;
    padding: 3px;
    margin: 0;
    border: $color-principal solid 3px;
    font-family: 'Noto Sans', sans-serif;
    position: sticky;
    width: 100vw;
    z-index: 10;
    top: 0;
    left: 0;    
    background: rgb(227,211,255);
    background: linear-gradient(90deg, rgba(227,211,255,1) 48%, rgba(255,192,192,1) 100%);
}
.menu{
    display: none;
}
.jam {
    display: none;
}
.box {
    display:flex;
   min-height: 150px;
   justify-content: space-between;
   align-content: center;
   flex-flow: row wrap;
}
.box__son{

    height: max-content;
    width: max-content;
    text-align: center;
    line-height: 80px;
    padding: 1rem;
    margin: 1rem;
    list-style: none;

}
.box__son--h1{

    height: max-content;
    width: max-content;
    text-align: center;
    line-height: 80px;
    padding: 1rem;
    margin: 1rem;
    list-style: none;
    color: black;
    -webkit-text-stroke: 2px black;
    color: white;
    font-size: 3rem;
}
.box__link {
    text-decoration: none;
    padding: 5px;
    color: black;

}
ul {
    list-style: none;
    font-size: 0;
    margin-left: 0;
    padding-left: 0;
}
li{
    display: inline-block;
    width: 25%;
    position: relative;
    font-size: 2rem;
}
ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: block;
}

ul li:hover ul {
    display: block;
    background-color: white;
    border:$color-principal solid 3px;
    padding: 5px;
    margin: 0;
    border-style: dotted;
    transform: scale(2px);
}