@media screen and (max-width: 600px) {

    /* Header */

.header { 
    display: inline-block;
    width: 100%;
}
.box {
    display: flex;
    flex-direction: row;
  }
.box__son {
    display: block;
    line-height: 20px;
    padding: 10px;
    font-size: 35px ;
    background-color: $color-secundario;
    border-radius: 5px;
    border: $color-principal 1px solid;
    margin-left: 0;
    width: max-content;
    height: max-content;
   
}
.box__son--h1{
margin: 28px 0 10px 0;
padding: 10px;
font-size: 30px;

}
.box__link {
    color: $color-principal;
    font-size: 20px;   
    display: flex;

}
.menu {
    display: block;
    color: $color-principal;
    margin: 10px;
}
.menu:hover {
    color: #f68a53;
}
.nav {
    display: none;
}
#lateral {
    display: block ;
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    transition: left 1s;
    border: solid 2px $color-secundario;
}
#lateral:target {
    left: 0;
}
ul {
    display: block;
}
li{
    display: block;
    width: 10%;
    position: relative;
    font-size: 20px;
    padding: 10px;
}
ul ul {
    position: relative;
    display: block;
}

ul ul li {
    display: block;
    position: relative;
}

ul li ul {
    display:block;
    background-color: rgba(0, 0, 0, 0.5);
    border:$color-principal solid 3px;
    padding: 5px;
    margin: 5px;
    border-style:inherit;
    position: relative;
}


.nav__lista {
    flex-direction: column;
    display: flex;
    margin: 10px;
    gap: 1rem;
    padding: 10px;
    font-size: 10px;
}
    /*Productos*/

    .fotos {
        width: 120px;
        height: 120px;
        border-radius: 10%;
    }
    .fotos__pink {
        width: 120px;
        height: 120px;
        border-radius: 10%;
    }
    .grid__hijo {
        width: 160px;
        height: 275px;
        padding: 2px;
        border-radius: 5%;
    }
    .producto__nombre {
        font-size:15px ;
        padding: 2px;
        font-weight: bold;
        width: max-content;
    }
    .producto__precio {
        font-size: 15px; 
        padding:2px;
        font-weight: bold;
    }
    .grid__productos{
        padding: 2px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1%;
        grid-template-areas: 
        "ele1 ele2" 
        "ele3 ele4"
        "ele5 ele6" 
        "ele7 ele8"
        "ele9 ele10" 
        "ele11 ele12"
        "ele13 ele14"
        "ele15 ele16"
        "ele17 ele18";
    }
    .grid{
        padding: 2px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50% ;
        grid-template-areas: 
        "ele1 ele2" 
        "ele3 ele4";
    }
    .grid__nuevo {
        position: absolute;
        top: 0; 
        left: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 0.5rem 1rem;
      transform: translate(-50%);
      width: ($ancho/2)+25 ;
      height: max-content;
      font-size: 10px;
    }
    .clase__producto {
        font-size: 1.7rem;
    }
    .producto__titulo {
        font-size: 1.5rem;
    }

    .fondo__reseñas{
        background-color: rgba(0, 0, 0, 0.5);
        color: $color-principal;
        padding: 10px;
        border-radius: 10px;
        width: $ancho*3;
        height: max-content;
        }
/*Preguntas Frecuentes*/
.preguntas {
    font-family: $font-family;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: $color-principal;
    padding: 10px;
    margin: 10px;
    border: #f68a53 solid 3px;
    display: block;
    width: max-content;
    height: max-content;
    border-radius: 50px;
}

.preguntas__2r {
    font-family: $font-family;
    font-size: 1.1rem;
    background-color: $color-principal;
    padding: 10px;
    margin: 10px;
    border: #f68a53 solid 3px;
    display: block;
    width: 340px;
    height: max-content;
    border-radius: 25px;
    font-weight: bold;
}
.mapita {
    border: solid 2px $color-secundario;
    background-color: $color-principal;
    padding: 10px;
    height: 350px;
    width: 320px;
    text-align: center;
    display: inline-block;
    right: 0;
}

.iframe {
    width: 250px;
    height: 250px;
}

.mapita__p {
    font-family: $font-family;
    font-size: 1rem;
    background-color: $color-secundario;
    padding: 10px;
    border: $color-principal solid 3px;
    display: block;
    width: 300px;
    height: max-content;
    color: white;
}

/*Footer*/
.boxes {
    width: 200px;
    height: 35px;
    border-radius: 25px;
}    
.button {
    height: 35px;
    border-radius:25px; ;
}
.preguntas__footer {
    font-size: 20px;
    width: 300px;
    border-radius: 25px;
}

.box__link--footer {
    text-decoration: none;
    display:inline-block;
    font-size: 25px;
    font-weight: bold;
    margin-left: 0%;
    display: none;
    }
    .backgroundPurpFooter {
        width: 100%;
    }
    .icono__whatsapp {
        color: $color-principal;
        margin: 0;
        padding: 0;
       display: flex;
    }
    .icono__insta {
        color: $color-principal;
        margin: 0;
        padding: 0;
        display: flex;
    }
}