@media screen and (max-width: 600px) {

    .fotos {
        width: 120px;
        height: 120px;
        border-radius: 10%;
    }
    .fotos__pink {
        width: 120px;
        height: 120px;
        border-radius: 10%;
    }
    .box__son {
        line-height: 20px;
        padding: 5px;
        margin: 5px;
        color: blueviolet;
        font-size: 35px ;
    }
    .box__son--h1 {
       font-size: 2.6rem;
    }
    .box__link {
        color: white;
        font-size: 25px;   
        display: flex;
    }
    .boxes {
        width: 200px;
        height: 35px;
        border-radius: 25px;
    }    
    .button {
        height: 35px;
        border-radius:25px; ;
    }
    .preguntas {
        font-size: 20px;
        display: inline-block;
        width: 300px;
        border-radius: 25px;
    }
    .preguntas__footer {
        font-size: 20px;
        width: 300px;
        border-radius: 25px;
    }
    .preguntas__2r {
        font-size: 20px;
        display: inline-block;
        width: 300px;
        border-radius:25px ;
        height: max-content;
    }
    .respuestas {
        width: 300px;
        height: max-content;
        border-radius: 25px;
    }
    .nav {
        display: none;
    }
    #lateral {
        display: block ;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 100;
        transition: left 1s;
    }
    #lateral:target {
        left: 0;
    }



    .nav__lista {
        height: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .grid__hijo {
        width: 140px;
        height: 240px;
        padding: 2px;
        border-radius: 5%;
    }
    .producto__nombre {
        font-size:10px ;
        padding: 2px;
    }
    .producto__precio {
        font-size: 10px; 
        padding:2px;
    }
    .grid__productos{
        padding: 2px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1%;
        grid-template-areas: 
        "ele1 ele2" 
        "ele3 ele4"
        "ele5 ele6" 
        "ele7 ele8"
        "ele9 ele10" 
        "ele11 ele12"
        "ele13 ele14"
        "ele15 ele16"
        "ele17 ele18";
    }
    .grid{
        padding: 2px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50% ;
        grid-template-areas: 
        "ele1 ele2" 
        "ele3 ele4";
    }
    .grid__nuevo {
        position: absolute;
        top: 0; 
        left: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 0.5rem 1rem;
      transform: translate(-50%);
      width: ($ancho/2)+25 ;
      height: max-content;
      font-size: 10px;
    }
    .menu {
        display: flex;
    }
    .jam {
        display: flex;
    }
    .icono__whatsapp {
        color: green;
        margin: 5px;
        padding: 3px;
    }
    .icono__insta {
        color: palevioletred;
        margin: 5px;
        padding: 3px;
    }
    .carrusel {
        width: 400px;
        height: 750px;
    }
    .fondo__reseñas{
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        border-radius: 10px;
        width: 200px;
        height: 200px;
        }
        .mapita {
            width: 300px;
        }
        .iframe {
            width: $ancho*2.5;
            height: 250px;
        }
        .mapita__p {
            font-size: 20px;
            width: $ancho*2.5;
            color: black;

        }
        ul {
            display: block;
        }
        li{
            display: block;
            width: 25%;
            position: relative;
            font-size: 2rem;
        }
        ul ul {
            position: relative;
            display: block;
        }
        
        ul ul li {
            display: block;
            position: relative;
        }
        
        ul li ul {
            display:block;
            background-color: rgba(0, 0, 0, 0.5);
            border:$color-principal solid 3px;
            padding: 5px;
            margin: 0;
            border-style: dotted;
            transform: scale(2px);
            position: relative;
        }
        .fondo__reseñas{
            width: $ancho*3;
            height: 150px;
            }

        .carrito {
                border-radius: 5px;
                font-size: 10px;
                padding: 2px;
                position: relative;
            }
}