@media screen and (max-width: 1023px) {

/*Header*/
.header { 
    display: inline-block;
    width: 100%;
}
.box {
    display: flex;
    flex-direction: row;
  }
.box__son {
    display: block;
    line-height: 20px;
    padding: 10px;
    font-size: 35px ;
    background-color: $color-secundario;
    border-radius: 5px;
    border: $color-principal 1px solid;
    margin-left: 0;
    width: max-content;
    height: max-content;
}
.box__son--h1 {
    margin: 20px 0 10px 0;
    padding: 30px;
    font-size: 3rem;
 }
 .box__link {
    color: $color-principal;
    font-size: 25px;   
    display: flex;
    padding: 10px;
}
.menu {
    display: block;
    color: $color-principal;
    margin: 25px;
}
.menu:hover {
    color: #f68a53;
}
.jam {
    display: flex;
}
.nav {
    display: none;
}
#lateral {
    display: block ;
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    transition: left 1s;
    border: solid 2px $color-secundario;
}
#lateral:target {
    left: 0;
}

ul {
    display: block;
}
li{
    display: block;
    width: 25%;
    position: relative;
    font-size: 1.5rem;
    padding: 10px;
}
ul ul {
    position: relative;
    display: block;
}

ul ul li {
    display: block;
    position: relative;
}

ul li ul {
    display:block;
    background-color: rgba(0, 0, 0, 0.5);
    border:$color-principal solid 3px;
    padding: 5px;
    margin: 0;
    border-style: dotted;
    transform: scale(2px);
    position: relative;
}
.nav__lista {
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
/*Productos*/
.fotos {
    width: 250px;
    height: 250px;
    border-radius: 10%;
}
.fotos__pink {
    width: 250px;
    height: 250px;
    border-radius: 10%;
}
.grid__hijo {
    width: 300px;
    height: 400px;
    padding: 2px;
    border-radius: 5%;
}
.producto__nombre {
    font-size:20px ;
    padding: 2px;
}
.producto__precio {
    font-size: 20px; 
    padding:2px;
}
.carrito {
    border-radius: 5px;
    font-size: 10px;
    padding: 2px;
    position: relative;
}
.grid__productos{
    padding: 2px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1%;
    grid-template-areas: 
    "ele1 ele2" 
    "ele3 ele4"
    "ele5 ele6" 
    "ele7 ele8"
    "ele9 ele10" 
    "ele11 ele12"
    "ele13 ele14"
    "ele15 ele16"
    "ele17 ele18";
    justify-content: center;
}
.grid{
    padding: 2px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50% ;
    grid-template-areas: 
    "ele1 ele2" 
    "ele3 ele4";
    justify-content: center;
}
.grid__nuevo {
    position: absolute;
    top: 0; 
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.5rem 1rem;
  transform: translate(-50%);
  width: 75px;
  height: max-content;
  font-size: 10px;
}

/*Pregunta frecuentas*/
.preguntas {
    font-size: 20px;
    display: flex;
    width: max-content;
    border-radius: 25px;
}
.preguntas__2r {
    font-size: 20px;
    display: inline-block;
    width: max-content;
    border-radius:25px ;
    height: max-content;
}
.respuestas {
    width: 300px;
    height: max-content;
    border-radius: 25px;
}
.mapita {
    border: solid 2px $color-secundario;
    background-color: $color-principal;
    padding: 10px;
    height: 475px;
    width: 450px;
    text-align: center;
    display: inline-block;
    
}
.iframe {
    width: 350px;
    height: 350px;
}
.mapita__p {
    font-size: 20px;
    width: 400px;
    color: $color-principal;
    height: max-content;
}





/*Footer*/
    .boxes {
        width: 200px;
        height: 35px;
        border-radius: 25px;
    }    
    .button {
        height: 35px;
        border-radius:25px; ;
    }
   
    .preguntas__footer {
        font-size: 20px;
        width: 400px;
        border-radius: 25px;
    }
    
    .icono__whatsapp {
        color: $color-principal;
        margin: 5px;
        padding: 3px;
    }
    .icono__insta {
        color: $color-principal;
        margin: 5px;
        padding: 3px;
    }
    .carrusel {
        width: 600px;
        height: 750px;
    }
    .fondo__reseñas{
        background-color: rgba(0, 0, 0, 0.5);
        color:$color-principal;
        padding: 10px;
        border-radius: 10px;
        width: 400px;
        height: 150px;
        }
       
        
}